/* styles.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  font-size: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px;
  text-align: center;
  width: 100%;
}

.form-input {
  display: flex;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 80px;
  height: 50px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s; /* Efek transisi pada perubahan warna latar belakang */
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 10px;
  font-size: 18px;
}
